In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../dataset/heartDisease/2509_Medicine name-2.fld/metadata.csv')
df.head(5)

,Image,Category,Subcategory,Med_name,Med_brand
0,image006.jpg,Antihypertensives,Angiotensin II Receptor Blockers (ARBs),Candesartan,Atacand
1,image007.jpg,Antihypertensives,Angiotensin II Receptor Blockers (ARBs),Valsartan,Diovan
2,image008.jpg,Antihypertensives,Calcium Channel Blockers,Amlodipine,Norvasc
3,image009.jpg,Antihypertensives,Calcium Channel Blockers,Diltiazem,Cardizem
4,image010.jpg,Antihypertensives,Beta-Blockers,Metoprolol,Betaloc

In [9]:
df['Category'].unique()

array(['Antihypertensives', 'Anticoagulants', 'Antiplatelet Agents',
       'Statins', 'Nitrates', 'Heart Failure Medications\xa0',
       'Antiarrhythmics', 'Combination Medications\xa0'], dtype=object)

In [11]:
df = df.drop('Image', axis=1)

In [13]:
df = df.drop_duplicates()

In [30]:
df['Med_name'].nunique()

26

In [28]:
df[df['Category'] == 'Statins']

   Category Subcategory      Med_name Med_brand
22  Statins         NaN  Atorvastatin   Lipitor
26  Statins         NaN  Rosuvastatin   Crestor
30  Statins         NaN   Simvastatin     Zocor

In [16]:
df.shape

(31, 4)